<% if (locals.loggedin) { %>
  <a class="wishlist-btn" href="/wishlist/add/<%= vehicle.inv_id %>">Add to Wishlist</a>
<% } %>

<div>
  <%- detail %> 
</div>

<% if (messages && messages.length > 0) { %>
  <div class="flash-message">
    <% messages.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>
